!!!
%html
  %head
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    %link{ :href => "/css/style.css", :rel => "stylesheet" }
  %body
  .end
    %h1 Mastermind
    %img(src="dunce.jpg" height="400px")
    %p You lose
    %p Try again?
    %form{:action => "/restart", :method => "post" }
      %button Restart
